@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --latar: #E9E8E6;
  --putih: #FFFFFF;
  --oranye: #F49E01;
  --merah: #A71700;
  --abu-skeleton: #D9D9D9;
  --hijau: #819D51;
  --item: #1E1E1E;
  --ijo-gelap: #485935;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-latar: var(--latar);
  --color-putih: var(--putih);
  --color-oranye: var(--oranye);
  --color-merah: var(--merah);
  --color-abu-skeleton: var(--abu-skeleton);
  --color-hijau: var(--hijau);
  --color-item: var(--item);
  --color-ijo-gelap: var(--ijo-gelap);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
